<div class="container prices">
  <div class="jumbotron pricing-tables-jumbotron">
      <h2 class="h2">Make Your Donation</h2>
  </div>
  <div class="row">
      <div class="col-sm-4 col-md-4">
          <div class="option">
              <div class="option-title">
                  <h3>Normal</h3>
                  <span>Normal Donations</span>
              </div>
              <div class="option-price">
                  <span class="price">$10</span>
                  <span class="period">per month</span>
              </div>
              <div class="option-list">
                  <ul class="item-list">
                   
                      <li><strong>4|</strong> Have been involved in this</li>
                      <li><div class="qr" id="order1"></div></li>
                  </ul>
                  <button type="button" (click)="initializePayment(2)" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i>  $ Donate Here</button>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-md-4">
          <div class="option">
              <div class="option-title">
                  <h3>Standard</h3>
                  <span>Donation</span>
              </div>

              <div class="option-price">
                  <span class="price">$99</span>
                  <span class="period">per month</span>
              </div>

              <div class="option-list">
                  <ul class="item-list">
                      <li><strong>40|</strong> Have been involved in this</li>
                      <li><div class="qr" id="order2"></div></li>
                  </ul>
                  <button type="button" (click)="initializePayment(25)" class="btn btn-success big text-dark"><i class="fa fa-hand-o-right hided-icon big"></i>  $ Donate Here</button>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-md-4">
          <div class="option">
              <div class="option-title">
                  <h3>Premium</h3>
                  <span>Premium Donations</span>
              </div>

              <div class="option-price">
                  <span class="price">$150</span>
                  <span class="period">per month</span>
              </div>

              <div class="option-list">
                  <ul class="item-list">
                      <li><strong>120|</strong> Have been involved in this</li>
                      <li><div class="qr" id="order3"></div></li>
                  </ul>
                  <button type="button" (click)="initializePayment(35)"  class="btn btn-success big text-danger"><i class="fa fa-hand-o-right hided-icon big"></i> $ Donate Here</button>
              </div>
          </div>
      </div>
  </div><!-- /.row -->
</div><!-- /.container -->

<script type="text/javascript">
  $(document).ready(function () {
      $("#order1").shieldQRcode({
          mode: "byte",
          size: 150,
          value: "https://somesite/order?plan=1"
      });
      $("#order2").shieldQRcode({
          mode: "byte",
          size: 150,
          value: "https://somesite/order?plan=2"
      });
      $("#order3").shieldQRcode({
          mode: "byte",
          size: 150,
          value: "https://somesite/order?plan=3"
      });
  });
</script>

<!-- you need to include the shieldui css and js assets in order for the grids to work -->
<link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
<script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>

<style type="text/css">
  .qr {
      margin-left: auto;
      margin-right: auto;
  }

  .prices {
      padding-bottom: 40px;
      color: #fff;
      background: #B3C0DD;
      background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b));
      background: -webkit-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
      background: -o-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
      background: -ms-linear-gradient(-45deg, #B3C0DD 0%,#3f4c6b 100%);
      background: linear-gradient(135deg, #B3C0DD 0%,#3f4c6b 100%);
  }

  .pricing-tables-jumbotron {
      text-align: center;
      background: none;
  }

  .big {
      font-size: 27px;
      font-family: poppins;
      color: black;
      font-weight: 700;
  }
  
  .option {
      background: #f9f9f9;
      box-shadow: 0 0 1px rgba(0, 0, 0, .2);
      border-radius: 4px 4px 0 0;
      position: relative;
      margin: 20px 0;
      text-align: center;
      color: #333;
  }

      .option:hover .hided-icon {
          color: #fff;
          padding: 0 10px;
      }

      .option > .option-title {
          padding: 20px;
      }

          .option > .option-title > h3 {
              font-weight: bold;
              font-size: 32px;
              text-transform: uppercase;
              margin: 0;
          }

          .option > .option-title > span {
              font-style: italic;
              font-size: 16px;
          }

      .option > .option-price {
          background: #fff;
          padding: 0 0 10px;
          color: #0FB112;
      }

          .option > .option-price > .price {
              display: block;
              font-size: 72px;
              font-weight: bold;
              font-style: italic;
          }

          .option > .option-price > .period {
              font-size: 14px;
          }

      .option .option-list {
          padding: 0;
      }

      .option .item-list {
          list-style: none;
          padding: 0;
      }

          .option .item-list li:nth-child(even) {
              background: #fdfdfd;
          }

          .option .item-list > li {
              padding: 10px 5px;
              font-size: 16px;
          }

      .option .btn {
          width: 100%;
          padding: 10px;
          border-radius: 0;
          border: none;
          text-transform: uppercase;
      }

      .option .btn-success {
          color: #fff;
          background: #0FB112;
      }

          .option .btn-success:hover {
              background: #1d7019;
          }

      .option .hided-icon {
          color: #0FB112;
          margin-left: -14px;
          -webkit-transition: all 0.7s ease-in-out;
          -moz-transition: all 0.7s ease-in-out;
          -o-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
      }
</style>





